{% extends "mouse_cat/game_base.html" %}
{% load staticfiles %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% if request.session.from == 'replay_game' %}
    <script src="{% static 'js/replay-game.js' %}"></script>
{% else %}
    <script src="{% static 'js/drag-drop.js'%}"></script>
{% endif %}

{% endblock extra_js%}

{% block content %}
    <form id="move_form" action="index.html" method="post">
        {% csrf_token %}
        {{ move_form}}
    </form>


    <div id="turn-info">
        <div id="game-finished" value="{{game.winner}}">{{game.status}}</div>
    {% if request.session.from == 'replay_game' %}
        <div class="flex-row d-flex mt-3 mb-3">
            <button class="btn btn-light ml-2 mr-2" type="button" name="prev" disabled>⏪</button>
            <button class="btn btn-light ml-2 mr-2" type="button" name="play-pause">▶️</button>
            <button class="btn btn-light ml-2 mr-2" type="button" name="next">⏩️</button>
        </div>
    {% else %}
        {% if game.cat_turn %}
            {% if game.cat_user == request.user %}
                <div id="draggable">cat</div>
                <span id="user-turn" class="display-4 text-white font-weight-bold">Your turn</span>
            {% else %}
                <span id="user-turn" class="display-4 text-white font-weight-bold">{{game.cat_user}}'s turn</span>
            {% endif %}
        {% else %}
            {% if game.mouse_user == request.user %}
                <div id="draggable">mouse</div>
                <span id="user-turn" class="display-4 text-white font-weight-bold">Your turn</span>
            {% else %}
                <span id="user-turn" class="display-4 text-white font-weight-bold">{{game.mouse_user}}'s turn</span>
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
    <div class="h-100">
            {% if board %}
                <table id="chess_board">
                {% for item in board %}
                    {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
                    <td id="cell_{{ forloop.counter0}}" class="table-cell">
                        {% if item ==  0 %}
                        {% elif item == 1 %}  <img id="cat-drag" width="100%" height="100%" src="https://i.imgur.com/bxRyzOU.png" alt="">
                        {% else %} <img id="mouse-drag" width="100%" height="100%" src="https://i.imgur.com/P6NiMya.png" alt=""> {% endif %}
                    </td>
                    {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
                {% endfor %}
                </table>
            {% endif %}
    </div>

    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
{% endblock content %}
