{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}
    {% if user.is_authenticated %}
    <div>
        <span class="text-white">Welcome {{ request.user.username }}!</span>
        <a class="col-6 font-weight-bold" href="{% url 'logout' %}">Log Out</a>
    </div>
    <div class="flex-grow-1"></div>
    <div class="row justify-content-center w-100">
        <a class="col-6 btn btn-outline-info font-weight-bold" href="{% url 'create_game' %}">Create Game</a>
    </div>
    <div class="flex-grow-1" style="max-height: 2.5rem;"></div>
    <div class="row justify-content-center w-100">
        <a class="col-6 btn btn-outline-info font-weight-bold" href="{% url 'select_game' 'join_game' %}">Join Game</a>
    </div>
    <div class="flex-grow-1" style="max-height: 2.5rem;"></div>
    <div class="row justify-content-center w-100">
        <a class="col-6 btn btn-outline-info font-weight-bold" href="{% url 'select_game' 'play_game'%}">Play Game</a>
    </div>
    <div class="flex-grow-1" style="max-height: 2.5rem;"></div>
    <div class="row justify-content-center w-100">
        <a class="col-6 btn btn-outline-info font-weight-bold" href="{% url 'select_game' 'replay_game'%}">Replay Game</a>
    </div>
    <div class="flex-grow-1"></div>
    {% else %}
    <div class="flex-grow-1"></div>
    <div class="row justify-content-center w-100">
        <a class="col-6 btn btn-outline-info font-weight-bold" href="{% url 'login' %}">Login</a>
    </div>
    <div class="flex-grow-1" style="max-height: 2.5rem;"></div>
    <div class="row justify-content-center w-100">
        <a class="col-6 btn btn-outline-info font-weight-bold" href="{% url 'signup' %}">Signup</a>
    </div>
    <div class="flex-grow-1"></div>
    {% endif %}
{% endblock content %}
