{% extends "mouse_cat/game_base.html" %}
{% load staticfiles %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}

{% block content %}

<div id="select-header" class="d-flex flex-column align-items-center w-100">
    <div class="d-flex flex-row align-items-end" style="width: calc(calc(100%/12)*8); justify-content: space-between;">
        <div class="filter-card">
            <div>
                <input type="checkbox" id="cat-filter" name="cat-filter" checked></input>
                <label for="cat-filter">Cat games</label>
            </div>
            <div>
                <input type="checkbox" id="mouse-filter" name="mouse-filter" checked></input>
                <label for="mouse-filter">Mouse games</label>
            </div>
        </div>
        <span class="text-white font-weight-bold" style="font-size: xx-large;">Select a game</span>
        <div class="flex-row d-flex">
            <button class="btn btn-light ml-2 mr-2" type="button" name="prev" disabled>⏪</button>
            <div class="btn btn-light ml-2 mr-2" style="cursor: inherit;" id="page-number">1</div>
            <button class="btn btn-light ml-2 mr-2" type="button" name="next">⏩️</button>
        </div>
    </div>
</div>

{% for g in games %}
<div class="col-9 game-aref" style="max-height: fit-content;">

    {% if g.cat_user == request.user %}
    <a href="{% url 'select_game' action g.id %}" class="card-cat-game game-card bg-white form-rounded d-flex flex-row m-3 justify-content-center shadow">
    {% else %}
    <a href="{% url 'select_game' action g.id %}" class="card-mouse-game game-card bg-white form-rounded d-flex flex-row m-3 justify-content-center shadow">
    {% endif %}
        <div class="col-3 d-flex flex-column justify-content-center align-items-center">
            <img class="card-img" src="https://i.kym-cdn.com/photos/images/original/001/505/718/136.jpg" alt="">
            <span class="text-center card-text"> {{g.cat_user}} </span>
        </div>
        <div class="col text-center d-flex flex-column justify-content-center align-items-center">
            <span class="turn-font font-weight-bold"> Game: {{g.id}} </span>
            <span class="vs-font font-weight-bold"> VS </span>
            {% if g.cat_turn %}
            <span class="turn-font font-weight-bold"> {{g.cat_user}}'s turn </span>
            {% else %}
            <span class="turn-font font-weight-bold"> {{g.mouse_user}}'s turn </span>
            {% endif %}
        </div>
        <div class="col-3 d-flex flex-column justify-content-center align-items-center">
            <img class="card-img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgflip.com%2F1d9tuf.jpg&f=1&nofb=1" alt="">
            <span class="text-center card-text"> {{g.mouse_user}} </span>
        </div>
    </a>
</div>
{% endfor %}
{% endblock content %}
